<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"></head>
<body>
	<footer class="layout-footer" th:fragment="rodape">

		<div class="text-center container">
			<div style="display: inline;">
				<a href="#">
					<img src="/image/icons/facebook.png" width="32" height="32" class="mudar-cor">
				</a>
				<a href="#">
					<img src="/image/icons/instagram.png" width="32" height="32" class="mudar-cor">
				</a>
				<a href="#">
					<img src="/image/icons/whatsapp.png" width="32" height="32" class="mudar-cor">
				</a>
				<a href="#">
					<img src="/image/icons/pin.png" width="32" height="32" class="mudar-cor">
				</a>

			</div>
		</div>
		<div class="container">
			<span class="footer-copy">&copy; 2021 FernandesDeveloper. Todos os direitos reservados.</span>
		</div>
	</footer> 
</body>
</html>